.movieInfo {
	display: flex;
	gap: 100px;
	justify-content: space-between;
	align-items: flex-start;
}

.logo {
	height: 500px;
	border-radius: 20px;
}

.mainInfo {
	display: flex;
	gap: 50px;
	align-items: flex-start;
}

.description {
	padding: 30px 20px;
	border-radius: 20px;
	background-color: var(--color-bg-secondary);
}

.title {
	color: var(--color-text);
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 20px;
}

.info {
	font-size: 16px;
	color: var(--color-text-secondary);
	line-height: 1.2rem;
}

.row {
	width: 100%;
}